/*
	Here those styles are defined which are used in a lesson html page or 
	module-intro.html, or course-intro.html.
*/


/*
 This style is used in lesson html page for titles.
*/
.course-style-title {
	font-size: 1.2em;
	font-weight: 700;
	color: #555555;
}

.emphasis {
	font-size: 1.2em;
	font-weight: 550;
}

.display-rhythm-comment {
	padding:0px;
	border: 1px solid black;
}

.rhythm-outdent {
	margin: 0px 20px;
}

.text-card-style {
	padding: 10px;
	border: 1px solid black;
	display: inline-block;
}

.text-card-blue {
	background-color: #6dcff6;
}

.text-card-orange {
	background-color: #fdc689;
}

.text-card-pink {
	background-color: #f5989d;
}

.text-card-violet {
	background-color: #a186be;
}

.text-card-yellow {
	background-color: #fff799;
}

.text-card-green {
	background-color: #a3d39c;
}

.lesson-remark {
	border: 1px solid gray; 
	font-size: 0.8em;
	padding:10px
}

