/*
	Here those styles are defined which are used in a lesson html page or 
	module-intro.html, or course-intro.html.
*/


/*
 This style is used in lesson html page for titles.
*/
.course-style-title {
	font-size: 1.2em;
	font-weight: 700;
	color: #555555;
}

.emphasis {
	font-size: 1.2em;
	font-weight: 550;
}

.display-rhythm-comment {
	padding:0px;
	border: 1px solid black;
}

.rhythm-outdent {
	margin: 0px 20px;
}

.button-random-exercise {
	border-radius: 5px;
	font-size: 1em;
	padding: 5px;
	background-color: #f2ac67;
	border: 1px solid gray;
	cursor: pointer;
}

.button-random-exercise:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-random-exercise-modest {
	font-size: 1em;
	background-color: transparent;
	border-radius: 5px;
	border: 0.5px solid black;
	cursor: pointer;
	padding: 3px;
}

.button-random-exercise-modest:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
