 body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: white;
      color: black;
    }

/*640 x 360*/
.video-container {
     width: 400px;
     padding: 10px;
     margin: 0px;
     border: 1px solid black;
     border-radius: 5px;
     box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

/* Медиа-запрос для мобильных устройств */
@media only screen and (max-width: 767px) {
  #video-container {
    width: 80%;
  }
}