.lesson {
	max-width: 600px;
	margin: 0 auto;
  padding: 10px;
}

.lesson p {
	width: 90%;
}

.rhythm-comment {
	padding-left: 20px; 
	font-size: 0.6em;
	color: brown;
	font-family: "Arial", sans-serif;
}

.lesson-header-title {
	font-size: 0.8em;
}

.lesson-header-link {
	font-family: "Arial", sans-serif;
	font-weight: 700;
	text-decoration: none; /* Убрать стандартное подчеркивание */
	cursor: pointer;
}

.lesson-header-link-1 {
	color: #1aaa60;
}

.lesson-header-link-2 {
	color: #2ecc71;
}

.lesson-header-lesson-label {
	color: #555555;
}

.TODO {
	color: red;
	font-size: 2em;
}

.lesson-div-lesson-navigation {
	border-top: 1px solid gray;
	padding: 10px 0px;
	display: flex;
	justify-content: flex-start;
}

.lesson-button-lesson-navigation {
	margin-left: 15px;
	cursor: pointer;
	padding: 10px;
	border: 0.5px solid gray;
	color: white;
	border-radius: 5px;
	font-size: 1.2em;
}

.lesson-button-lesson-navigation-lesson {
	background-color: orange;
}
.lesson-button-lesson-navigation-module {
	background-color: green;
}

.lesson-button-lesson-navigation:first-child {
	margin-left: 0;
}

.lesson-button-lesson-navigation:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}