.divDBContainer {
    margin: 20px auto;
    /*position: relative;*/
    text-align: center;
}

.label-rhythm-library {
    font-weight: 300;
    color: #000000;
    padding-bottom: 10px;
}

.div-categories-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* Дополнительные стили для контейнера */
  background-color: transparent;
}

.div-db-categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 500px; /* Максимальная ширина контейнера */
  border-radius: 10px;
  border: 1px solid green;
  background-color: #ffec77;
}

.div-db-category {
    width: calc(50%); /* 50% ширины контейнера минус отступы между элементами */
    /*margin-bottom: 20px; */
    cursor:pointer;
    font-size: 1em;
    /*background-color: #ffec77;*/
    color: black;
    /*border: 0.5px solid black;
    border-radius: 10px;*/
    padding:5px;
}

.div-db-category:nth-child(even) {
  border-left: 1px solid #ccc; /* Линия между элементами */
}

.div-db-category:not(:last-child){
    border-bottom: 1px solid #ccc; /* Линия между рядами элементов */
}

.div-db-category:nth-last-child(2){
    border-bottom: 0px;
}

.div-db-category:hover {
    color: #60c898;
}

.rhythm-list-for-category {
    position: absolute;
    margin: 0px auto;
    padding: 20px;
    top: 0;
    left: -30000px;
    background-color: white;
    padding: 10px;
    min-width: 300px;
    border: 1px solid black;
    background-color: lightgray;
}

.rhythms-selector {
    border: 1px solid gray;
    overflow: scroll;
    margin-top: 5px;
    height: 100%;
    background-color: white;
}

.rhythm-to-select {
    margin: 5px;
    font-size: 0.9em;
    cursor: pointer;
    padding: 3px;
}

.rhythm-to-select:hover {
    color: #60c898;
}

.div-for-xbut {
    display: flex;
    /*justify-content: flex-end;*/
    justify-content: space-between;
}

.xbutton {
    font-size: 12px;
    padding: 0;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 10px;
}


.spanRhythmCategoryName {
    color: black;
}

.last-choice-from-lib {
    font-size: 0.8em;
}



