* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: radial-gradient(white,#b9f4d9);
}


.no-select {
    user-select: none;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.low {
    color: #000000;
    font-weight: 700;
}

.high {
    color: #aa00ff;
    font-weight: 700;
}

.left_old {
    color: #991144;
}

.right_old {
    color: #0000aa;
}

.accented {
    color: #000000;
}

.nonaccented {
    color: #aaaaaa;
}




.tempoInput {
    font-size: 1.2em;   
}


#divTempo {
    padding: 10px;
    width: 400px;
}

@media (max-width: 768px) {
    #divTempo {
        width: 100%;
        padding: 10px;
    }
}


#inputTempo {
    width: 100%;
}
