.div-visual-rhythm-editor {
	width: 100%;
	flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.div-text-rhythm-editor {
	width: 94%;
	max-width: 900px;
	flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.rhythm-text-editor {
	width: 100%;
	font-size: 1.2em;
}

.button-delete-textrhythm {
	width: 70px;
	font-size: 1em;
}

.button-txt-rhythm-to-vis-editor {
	width: 5em;
	font-size: 1em;	
	color: black;
}

.button-editing-helper {
	font-size: 1em;
	color: black;
}