
.visual-rhythm-container {
    /*width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border: 2px solid lightgray;
    background-color: white;
    border-radius: 20px;
    padding: 40px;*/

    width: 98%;
    overflow-x: auto; /* Включаем горизонтальный скроллинг */
    white-space: nowrap; /* Запрещаем перенос текста на новую строку */
    text-align: center; /* Центрируем содержимое контейнера */

    border: 2px solid lightgray;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    margin-left: auto; 
    margin-right: auto; 
}

.visual-rhythm-row {
    display: inline-block;
    white-space: nowrap;
    text-align: center;
}

.rhythm-item {
    border: 1px solid black;
    border-radius: 10px; /* Закругленные углы */
    min-width: 37px;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 10px;
    cursor: pointer;
    background-color: white;

    display: inline-block;
    margin-right: 10px; /* Добавьте желаемый отступ между ячейками */
    /*line-height: 100px;*/
}

.board-idx {
    font-size: 10px;
    color: #ffcc00;
    margin-top: 10px;
}

.selected {
    background-color: #f6f9a7;
}

