.strokeSelector {
    /*display: flex;*/
    margin-top: 10px;
}

/* Стили для кнопок выбора разных ударов */
.button-stroke {
  background-color: #f39c12; /* Оранжевый (D) */
  color: #fff;
  border: none;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s, box-shadow 0.2s;
  margin-right: 10px;
  display: inline-block;
}

.button-stroke:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}