.div-visual-rhythm-editor {
	width: 100%;
	flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.div-text-rhythm-editor {
	width: 94%;
	max-width: 900px;
	flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-top: 10px;
}

.rhythm-text-editor {
	width: 100%;
	font-size: 1.2em;
	border-radius: 10px;
}

.button-delete-textrhythm {
	font-size: 0.8em;
	background-color: #ffaa00;
}

.button-delete-textrhythm:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-txt-rhythm-to-vis-editor {
	/*width: 7em;*/
	font-size: 0.8em;	
	color: black;
}

.button-txt-rhythm-to-vis-editor:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.button-editing-helper {
	font-size: 1em;
	color: black;
}