
.divCounts {
    margin: 0 auto;
    width: 300px;
    text-align: center;
}

.counts-label {
    font-weight: 700;
}

.counts-inp {
    font-size: 20px;
    border-radius: 10px; /* Закругленные углы */
}

.counts_but {
    font-size: 20px;
}

.button-ok {
  background-color: #2ecc71 !important;
}

.button-ok:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
}

.button-size {
  background-color: #998888; 
  color: #fff;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень */
  transition: transform 0.2s, box-shadow 0.2s; /* Анимация при наведении */
}

.button-size:hover {
  transform: scale(1.05); /* Увеличение при наведении */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* Увеличенная тень */
}

.toolbar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.toolbar-size-buttons {
   width: 100%;
   margin: 10 auto;
   text-align: center;
}

.toolbar-size-buttons button {
  background-color: #998888; 
  color: #fff;
  border: none;
  padding: 5px 7px;
  cursor: pointer;
  border-radius: 10px; /* Закругленные углы */
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Тень */
  transition: transform 0.2s, box-shadow 0.2s; /* Анимация при наведении */

}
