.div-instruments-rack-board {
	display: inline;
	text-align: center;
	width: 90%;
}

.div-instruments-rack{
	width: 100%;
	text-align: center;
	display: inline;
}

 /* TOOLBAR  */

 .div-instruments-rack-toolbar {
 	display: inline;
 }

 .butt-instrument-add-inst {

 }

/*
ONE INSTRUMENT INSTANCE
*/
.instr-instance {
	display: inline-block;
	padding: 5px;
}

.instr-instance-container {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	opacity: 0.5;
	border: 0.5px solid black;
	border-radius: 3px;
}

.instr-instance-container-selected {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	opacity: 1;
	background-color: #eeeeee;
	color: black;
	border: 0.5px solid black;
	border-radius: 3px;
}

.instr-instance-center-item {
  margin: auto; /* Центрируем изображение по вертикали */
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.instr-instance-close-button {
  align-self: flex-start; /* Размещаем кнопку в верхней части блока */
  padding: 2px 5px;
  font-size: 0.7em;

}




